APP_BASE_URL=http://localhost:7007
AUTH_GITHUB_CLIENT_ID=
AUTH_GITHUB_CLIENT_SECRET=
BACKEND_SECRET=local-backend-secret
GITHUB_TOKEN=
POSTGRES_DB=backstage
POSTGRES_USER=backstage
POSTGRES_PASSWORD=backstage
